@charset "utf-8";
/* CSS Document */

nav>ul>li>a {
	color: #fff !important;
}

.col {
	margin: 2px;
    padding: 20px;
	border: 1px solid #c2c2c2;
	text-align: center;
}

div.row img:hover{
	transform: scale(1.5);
	transition: all 0.25s;
}

